.noOfItemInCart{
    border-radius: 50%;
    font-size: small;
    padding:0.05rem 0.4rem;
    background-color: black;
}

.brandName{
    text-decoration: none;
    color: rgb(24, 24, 24);
}

.custom-category {
    width: 150px; 
  }
  
  .custom-search {
    width: 300px; 
  }
  
  .navbar-nav .btn {
    margin: 0.5rem 0;
  }
  
  @media (max-width: 992px) {
    .navbar-toggler {
      border-color: rgba(0, 0, 0, 0.1);
    }
  }
  